<!DOCTYPE html><html><head>


    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ page.description }}" />

    <link rel="shortcut icon" href="/favicon.ico?{{site.time}}" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico?{{site.time}}" type="image/x-icon" />

    <meta property="og:title" content="Front-End.sk" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://secure.gravatar.com/avatar/33601a529921d030cc933647845983d1?size=400"/>
    <meta property="og:description" content="{{ page.description }}" />

    <meta name="twitter:title" content="Front-End.sk" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://secure.gravatar.com/avatar/33601a529921d030cc933647845983d1?size=400" />
    <meta name="twitter:description" content="{{ page.description }}" />

    <link href="/assets/generals.css?{{site.time}}" rel="stylesheet" type="text/css" />
    <link href="/assets/fonts.css?{{site.time}}" rel="stylesheet" type="text/css" />
    <link href="/assets/post.css?{{site.time}}" rel="stylesheet" type="text/css" />
    <link href="/assets/index.css?{{site.time}}" rel="stylesheet" type="text/css" />
    <link href="/assets/page.css?{{site.time}}" rel="stylesheet" type="text/css" />


</head><body>


    <!--
      Hello, dear developer!
      Theme is copyrighted and created by Samuel Ondrek;
      ---
      Generated: {{site.time}}
    -->


    <header id="header">
        <a href="/" id="logo">Front-End {SK}</a>
        <a href="/p/autori">Autori</a>
        <a href="/p/videa">Videá</a>
    </header>

    {% block content %}
    {% endblock %}

    <footer id="footer">

        <form action="//frontend.us8.list-manage.com/subscribe/post?u=30e96443cc5130ccb59f3b33c&amp;id=3f873aff49" method="post" id="subscribe" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group"><input type="email" value="" placeholder="chcem dostávať slovenský newsletter raz mesačne (stlač enter)" name="EMAIL" class="required email" id="mce-EMAIL" /></div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_30e96443cc5130ccb59f3b33c_3f873aff49" tabindex="-1" value=""></div>
            <input style="display:none" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>


        <a href="/p/prispej">chcete písať?</a>,
        <a href="/p/autori">o autoroch</a>,
        <a target="_blank" rel="nofollow" href="https://github.com/frontendsk/frontendsk.github.io">git repo</a>,
        <a target="_blank" rel="nofollow" href="/humans.txt">humans.txt</a>
        &nbsp;&nbsp;&nbsp;&copy; 2015
        theme designed &amp; handcrafted by samuel ondrek ;o)<br/>

    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

    <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '52c896898bfdf733f9000a04');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
    </script>

</body></html>