/* the post section */


    [id="post"][class="main"] {
        padding: 100px 0 50px;
    }

    [id="post"][class="main"] > p {
        max-width: 1000px;
        padding: 0 200px;
    }

    [id="post"][class="main"] > blockquote {
        max-width: 1000px;
        margin: 0;
        padding: 0 200px;
    }

    [id="post"][class="main"] > iframe {
        padding: 60px 200px 60px 60px;
        margin: 0 200px 0 140px;
    }

    [id="post"][class="main"] > pre {
        color: #AC1B1B;
        font-size: 14px;
        line-height: 20px;
        background: rgb(244, 244, 244);
        padding: 60px 200px 60px 60px;
        margin: 0 200px 0 140px;
    }

    [id="post"][class="main"] [class="title"] {
        padding: 60px 200px 0px 60px;
        margin: 0 200px 0 140px;
        max-width: 860px;
        font-size: 31px;
        line-height: 34px;
    }

    [id="post"][class="main"] [class="title"] a {
        color: #3b434a;
        font-size: 33px;
        font-weight: 800;
    }

    [id="post"][class="main"] > [class="time"] {
        padding: 0 200px 0 60px;
        line-height: 36px;
        display: block;
        color: rgb(205, 205, 205);
        margin: 0 200px 40px 140px;
    }

    [id="post"][class="main"] p code {
        color: #AC1B1B;
        font-size: 14px;
        background: rgb(244, 244, 244);
        padding: 4px 10px;
    }


