


    @import url("//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css");
    @import url("//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500&subset=latin,latin-ext");


    ::-moz-selection {
        background: #EF7863;
        color: white;
    }

    ::selection {
        background: #EF7863;
        color: white;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        text-rendering: optimizeLegibility;
        font-family: "Karma", "Georgia", "Cambria", "EversonMono", "EversonMono", "Segoe UI Symbol", "Symbola", "Ubuntu", "Arial", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000318;
        overflow-x: hidden;
    }

    hr {
        height: 40px;
        border: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 29px;
    }

    a {
        color: #EF7863;
        text-decoration: none;
    }

    a:hover {
        transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    i { /* yeah, fuck the italic */
        font-style: normal;
        color: #EF7863;
    }

    em {
        font-style: normal;
        color: #B5B5B5;
    }

    pre, code {
        font-family: "Source Code Pro", dejavu sans mono, amonospace, courier, monospace;
    }


    code {
        color: #EF7863;
        font-size: 14px;
        background: rgb(244, 244, 244);
        padding: 3px 9px;
        font-weight: 800;
    }


    /* other containers */

    [id="header"] a {
        display: inline-block;
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-size: 24px;
        margin-right: 3px;
    }


    [id="header"] [id="logo"] {
        color: #EF7863;
    }


    [id="header"] a:before {
        content: "/";
        display: inline-block;
        color: #CDCDCD;
        margin: 0 11px 0 6px;
        font-weight: 300;
    }

    [id="header"] a:first-child:before {
        content: "";
        margin: 0;
    }


    [id="footer"]{
        margin: 250px 200px 0 140px;
        font-size: 16px;
        line-height: 20px;
        color: rgb(181, 181, 181);
        padding: 33px 200px 19px 60px;
    }

    [id="footer"] a {
        color: #EF7863;
    }

    [id="header"]{
        margin: 19px auto 0 180px;
        padding: 20px;
    }




/* subscribe */


    [id="subscribe"] {
        margin-bottom: 16px;
    }

    [id="subscribe"] .mc-field-group,
    [id="subscribe"] #mc-embedded-subscribe {
        display: inline-block;
    }

    [id="subscribe"] #mce-EMAIL {
        padding: 9px 17px 4px;
        border: 1px solid transparent;
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        width: 472px;
        margin-left: -18px;
        font-size: 16px;
    }

    [id="subscribe"]:hover #mce-EMAIL {
        border: 1px solid #EF7863;
        transition: all 0.2s linear;
        color: black;
        -moz-transition: all 0.2s linear;
    }
