


    @import url("//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css");


    ::-moz-selection {
        background: #EF7863;
        color: white;
    }

    ::selection {
        background: #EF7863;
        color: white;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        text-rendering: optimizeLegibility;
        font-family: "Karma", "Georgia", "Cambria", "EversonMono", "EversonMono", "Segoe UI Symbol", "Symbola", "Ubuntu", "Arial", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #262935;
        overflow-x: hidden;
		margin-top: 200px;
    }

    hr {
        height: 40px;
        border: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 29px;
    }

    a {
        transition: all 0.1s linear;
        color: #EF7863;
        text-decoration: none;
    }

    a:hover {
        transition: all 1s linear;
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    i { /* yeah, fuck the italic */
        font-style: normal;
        color: #EF7863;
    }

    em {
        font-style: normal;
        color: #B5B5B5;
    }

    pre, code {
        font-family: "Source Code Pro", "dejavu sans mono", "amonospace", "courier", "monospace";
    }


    code {
		color: #000F2D;
		font-size: 12px;
		background: rgb(244, 244, 244);
		padding: 3px 9px;
        font-weight: 800;
    }


/* other containers */

	[id="header"]{
		padding: 160px 40px 56px 200px;
		background: #262935;
		position: absolute;
		width: 100%;
		z-index: 20;
		left: 0;
		top: 0;
		color: white;
		font-size: 30px;
		font-weight: 800;
	}

    [id="header"] a {
		color: white;
    }


    [id="header"] a:before {
        content: "/";
        display: inline-block;
        color: #CDCDCD;
        margin: 0 11px 0 6px;
        font-weight: 300;
    }

    [id="header"] a:first-child:before {
        content: "";
        margin: 0;
    }


    [id="footer"]{
		margin: 250px 0 0 200px;
		font-size: 16px;
		line-height: 20px;
		color: rgb(181, 181, 181);
		padding: 33px 0 19px 0;
    }

    [id="footer"] a {
        color: #EF7863;
    }




/* subscribe */


    [id="subscribe"] {
        margin-bottom: 8px;
    }

    [id="subscribe"] .mc-field-group,
    [id="subscribe"] #mc-embedded-subscribe {
        display: inline-block;
    }

    [id="subscribe"] #mce-EMAIL {
        padding: 9px 17px 4px;
        border: 1px solid transparent;
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        width: 472px;
        margin-left: -18px;
        font-size: 16px;
    }

    [id="subscribe"]:hover #mce-EMAIL {
        border: 1px solid #EF7863;
        transition: all 0.2s linear;
        color: black;
        -moz-transition: all 0.2s linear;
    }


/* subscribe */


	[id="menu"] {
		background: #EF7863;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 10;
		border-bottom: 3px solid rgba(255, 255, 255, 1);
	}


	[id="menu"] div {
		padding: 13px 0px 6px;
		margin: 0 0 0 200px;
	}

	[id="menu"] a {
		color: white;
		margin-right: 22px;
	}

	[id="menu"] a:hover {
		color: black;
	}


	/* copyright */


	[id="footer-copyright"]{



	}







