
    @import url("//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css");
    @import url("//fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext");
    @import url("//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500&subset=latin,latin-ext");


/* generals */


	::-moz-selection {
        background: #FFFAC6;
	}

	::selection {
        background: #FFFAC6;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
        text-rendering: optimizeLegibility;
        font-family: "Karma", "Georgia", "Helvetica", "Cambria", "EversonMono", "EversonMono", "Segoe UI Symbol", "Symbola", "Ubuntu", "Arial", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #0F121B;
        overflow-x: hidden;
	}

	hr {
		height: 40px;
		border: 0;
	}

	h1 {
		font-size: 36px;
		line-height: 29px;
	}

	a {
		color: #AC7E1B;
		text-decoration: none;
	}

	a:hover {
		transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		opacity: 0.4;
		filter: alpha(opacity=40);
	}

	i { /* yeah, fuck the italic */
		font-style: normal;
		color: #AC7E1B;
	}

	em {
		font-style: normal;
		color: #B5B5B5;
	}

    pre, code {
        font-family: "Source Code Pro", dejavu sans mono, amonospace, courier, monospace;
    }


/* the post section */


    [id="post"][class="main"] {
        padding: 100px 0 50px;
    }

    [id="post"][class="main"] > p {
        max-width: 1000px;
        padding: 0 200px;
    }

    [id="post"][class="main"] > blockquote {
        max-width: 1000px;
        margin: 0;
        padding: 0 200px;
    }

    [id="post"][class="main"] > pre {
        color: #AC7E1B;
        font-size: 14px;
        line-height: 20px;
        background: rgb(244, 244, 244);
        padding: 60px 200px 60px 60px;
        margin: 0 200px 0 140px;
    }

    [id="post"][class="main"] > [class="title"] {
        background: rgb(244, 244, 244);
        padding: 60px 200px 60px 60px;
        margin: 0 200px 0 140px;
        line-height: 56px;
    }

    [id="post"][class="main"] > [class="time"] {
        padding: 0 200px 0 60px;
        line-height: 36px;
        display: block;
        color: rgb(205, 205, 205);
        margin: 0 200px 40px 140px;
    }

    [id="post"][class="main"] p code {
        color: #AC7E1B;
        font-size: 14px;
        background: rgb(244, 244, 244);
        padding: 4px 10px;
    }


/* the post section */


    [id="index"][class="main"] {
        padding: 100px 0 50px;
        margin: 0 200px 40px 140px;
    }

    [id="index"][class="main"] ul {
        list-style: none;
        padding: 0;
    }


/* other containers */


    [id="footer"]{
        background: rgb(244, 244, 244);
        margin: 150px 200px 0 140px;
        font-size: 16px;
        line-height: 20px;
        color: rgb(181, 181, 181);
        padding: 33px 200px 19px 60px;
    }


    [id="logo"] a {
        display: block;
        color: white;
        width: 120px;
        height: 78px;
        background: #AC7E1B;
        position: fixed;
        top: 10px;
        left: 10px;
        margin: 0;
        text-align: right;
        padding: 48px 9px 0 0;
        opacity: 0.2;
    }


    [id="logo"] a:hover {
        opacity: 1;
    }


